numpy==1.26.4
python-dotenv
openai
langchain_groq
langchain_openai
langchain_core
fastapi
Flask
opencv-python
aiortc
aiohttp
sentencepiece
transformers
langchain-community
langchain-huggingface
spacy
twilio
flask
accelerate
Pillow
datasets
scikit-learn
hf_xet
pandas
datetime
Flask-SocketIO
tensorflow-cpu
python-socketio[client]
albumentations
